.vi_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.vi_header div {
    width: 100%;
}

.vi_header h1 {
    font-size: 60px;
    color: rgb(43, 157, 43);
}