.vi_section {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.vi_bar_container {
    background-color: #4B0082;
    padding: 5px 0px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.vi_bar_container div {
    display: flex;
    align-items: center;
}

.vi_bar_container select {
    background-color: #4B0082;
    color: #fff;
    font-size: 12px;
    margin: 0px 10px 0px 18px;
    outline: none;
    width: 100%;
}

.vi_bar_container select:hover {
    cursor: pointer;
}

.vi_bar_container input {
    border-radius: 6px;
    padding: 3px 10px;
    outline: none;
    width: 100%;
}

.vi_bar_container input:focus {
    box-shadow: 0 0 0 2px #85B8FF;
}

.vi_search_link{
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.vi_search_link:hover{
    background-color: #b5b0b0;
    cursor: pointer;
}

.vi_search_icon{
    color: #fff;
}

@media (max-width: 600px) {
    .vi_section {
        padding: 0px 10px;
    }
}



