.vi_nav {
    background-color: black;
    z-index: 2;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.vi_nav_items_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    align-items: center;
    flex-wrap: wrap;
}

.vi_nav_items_container a{
    text-decoration: none; 
    color: inherit; 
}

.vi_nav_login_container a {
    display: flex;
    padding: 15px 10px;
    gap: 5px;
}

.vi_nav_menuButton_container{
    display: none;
}

.vi_nav_menuButton{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-items: center;
    padding: 3px 3px;
    background-color: transparent;
    border-radius: 4px;
    color: white;
}

.vi_nav_menuButton:hover {
    background-color: rgba(128, 128, 128, 0.4);
    cursor: pointer;
}

.vi_nav_links_container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.vi_nav_links_container li:hover,  .vi_nav_login_container a:hover{
    background-color: rgba(128, 128, 128, 0.4);
    cursor: pointer;
}

.vi_nav_link {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 5px;
    padding: 15px 50px;
}

.vi_nav_analysis_icon, .vi_nav_home_icon, .vi_nav_login_icon {
    width: 20px;
    height: 20px;
}

.isActive {
    box-shadow: 0px 2px blue;
    border-bottom: 2px blue solid;
}

@media (max-width: 700px){

    .vi_nav_menuButton_container{
        display: inline-flex;
    }
  
    .isActive {
        box-shadow: none;
        border-bottom: none;
    }

    .vi_nav_menuButton {
        display: inline-flex;
    }

    /*.vi_nav_links_container ul, .vi_nav_login_container{
        display: none;
    }*/

    .vi_nav_links_container {
        display: none;
    }

    .vi_nav_links_container ul{
        display: block;
        width: 100vw;
    }

    .vi_nav_links_container a, .vi_nav_login_container a{
        justify-content: center;
    }

    .vi_nav_login_container{
        width: 100vw;
        display: none;
    }      

    .vi_nav_login_container a{
        padding: 15px 50px;
        margin-right: 0px;
    }
}

.showMenu{
    opacity: 0;
    display: block;
    animation: slide-down-menu .5s forwards;
}

@keyframes slide-down-menu {
    to {
        display: block;
        opacity: 1;
    }
}