
.vi_nav_search_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vi_nav_search_items_container {
    flex: 0 1 400px;
    position: relative;
}

.vi_nav_search_results_container{
    position: absolute;
    color: #000;
    width: 100%;
    padding: 20px 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    max-height: 325px;
    overflow: auto;
    z-index: 5;
}

.vi_nav_search_input_container{
    display: flex;
    position: relative;
}

.vi_nav_search_input_container input {
    width: 100%;
    height: 30px;
    padding: 0px 34px 0px 10px; 
    border-radius: 5px;
    outline: none;
}

.vi_nav_search_input_container input:focus {
    box-shadow: 0 0 0 2px #85B8FF;
}

.vi_nav_search_result_item {
    display: block;
    font-size: 12px;
    padding: 10px 2px;
    border-top: 1px solid #ddd;
}

.vi_nav_search_result_item:hover {
    background-color: #ddd;
    cursor: pointer;
}

.vi_nav_search_result_item:first-child {
    border-top: none;
}

.vi_nav_first_search_result_item {
    background-color: #ddd;
}

.vi_nav_search_button{
    position: absolute;
    right: 3px;
    border-radius: 50%;
    width: 27px;
    background-color: transparent;
    height: 27px;
    padding: 4px;
    display: flex;
    align-items: center;
    align-self: center;
}

.vi_nav_search_button:hover{
    background-color: #b5b0b0;
    cursor: pointer;
    color: #fff;
}

.vi_nav_search_icon{
    color: #000;
}

.vi_nav_search_button:hover .vi_nav_search_icon{
    color: #fff;
}

.isHidden {
    display: none;
}
