
.vi_nav_search_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vi_nav_search_items_container {
    flex: 0 1 400px;
    position: relative;
}

.vi_nav_search_results_container{
    position: absolute;
    color: #000;
    width: 100%;
    padding: 20px 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    max-height: 325px;
    overflow: auto;
}

.vi_nav_search_input_container input {
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    outline: none;
}

.vi_nav_search_input_container input:focus {
    box-shadow: 0 0 0 2px #85B8FF;
}

.vi_nav_search_result_item {
    display: block;
    font-size: 12px;
    padding: 10px 2px;
    border-top: 1px solid #ddd;
}

.vi_nav_search_result_item:hover {
    background-color: #ddd;
    cursor: pointer;
}

.vi_nav_search_result_item:first-child {
    border-top: none;
}

.vi_nav_first_search_result_item {
    background-color: #ddd;
}

.isHidden {
    display: none;
}
