.vi_previusyears_form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-left: 20px;
    flex: 1 1 300px;
}


.vi_previusyears_form_input {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
}

.vi_previusyears_form_input_container {
  position: relative;
}

.vi_previusyears_form_input::placeholder {
    font-size: 16px;
}

.vi_previusyears_form button{
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 200px;
}

.vi_previusyears_form button:hover{
    cursor: pointer;
}

/* Eliminar las flechas en navegadores como Chrome y Safari */
.vi_previusyears_form_input::-webkit-outer-spin-button,
.vi_previusyears_form_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar las flechas en Firefox */
.vi_previusyears_form_input {
  -moz-appearance: textfield;
}

/* Eliminar las flechas en Edge */
.vi_previusyears_form_input::-ms-clear {
  display: none;
}

@media (max-width: 1200px) {
  .vi_previusyears_form {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      padding-top: 10px;
      padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .vi_previusyears_form {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-top: 10px;
      padding-bottom: e0px;
  }
}

.hasWarning {
  outline-color: red;
}

/*.vi_previusyears_form_tooltip {
  position: absolute;
  background-color: red;
}*/