.metricsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}

.metricsGrid div:empty {
    display: none;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card.undervalued {
    background-color: #def9eb;
}

.card.overvalued {
    background-color: #f9dfdf;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 10px;
}

.cardHeader h2 {
    font-size: 16px;
    font-weight: 500;
    color: #666;
    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
    color: #666;
}

.priceContainer {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.price {
    font-size: 32px;
    font-weight: 600;
    color: #111;
}

.price.undervalued {
    color: #047857;
}

.price.overvalued {
    color: #B91C1C;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputGroup label {
    font-size: 14px;
    color: #666;
}

.inputGroup input {
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

.alert {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .alert.success {
    background-color: rgb(215, 242, 224);
    color: #047857;
  }

  .alert.error {
    background-color: rgb(245, 219, 227);
    color: #B91C1C;
  }

.calculateButton {
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calculateButton:hover {
    background: #333;
}

.undervalued {
    color: #047857;
}

.overvalued {
    color: #B91C1C;
}

.valueContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceDifference {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.priceDifference.undervalued {
    color: #059669;
}

.priceDifference.overvalued {
    color: #DC2626;
}

@media (max-width: 768px) {
    .price {
        font-size: 24px;
    }
}

@media (0px < width <= 600px) {
    .metricsGrid {
        grid-template-columns: 1fr;
    }
}

@media (600px < width <= 847px),
       (1000px < width <= 1079px),
       (1270px <= width <= 1361px) {
    .metricsGrid div:nth-child(3) {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .inputs {
        grid-template-columns: 1fr;
    }
}

/* Eliminar las flechas en navegadores como Chrome y Safari */
.inputGroup input::-webkit-outer-spin-button,
.inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar las flechas en Firefox */
.inputGroup input {
  -moz-appearance: textfield;
}

/* Eliminar las flechas en Edge */
.inputGroup input::-ms-clear {
  display: none;
}
